.mkapi-node {
  font-size: 0.7rem;
}

.mkapi-node a.mkapi-src-link, a.mkapi-docs-link {
  font-size: 0.64rem;
}

.mkapi-node .mkapi-object.code h3.mkapi-object-body {
  font-size: 0.7rem;
}

.mkapi-node .mkapi-section-name .mkapi-section-name-body {
  font-size: 1em;
}

.mkapi-section-body {
  font-size: 1em;
}

code {
  font-size: 1em;
}

span {
  font-size: 1em;
}

.highlight {
  font-size: 1em;
}

.mkapi-node .mkapi-base {
  font-size: .9em;
}

.mkapi-node code.mkapi-item-name,
.mkapi-node code.mkapi-object-signature,
.mkapi-node code.mkapi-object-parenthesis,
.mkapi-node span.mkapi-item-dash,
.mkapi-node span.mkapi-item-type {
  font-size: 0.9em;
}

.mkapi-node .mkapi-item-name,
.mkapi-node .mkapi-object,
.mkapi-node .mkapi-object code,
.mkapi-node .mkapi-object.code h2.mkapi-object-body,
.mkapi-node h2 .mkapi-object {
  font-size: 1em;
}

.mkapi-node ul.mkapi-items li::before {
  font-size: 80%;
}

.mkapi-section-name {
  padding: 0px 8px 2px 8px;
}

.mkapi-object.plain .mkapi-object-kind {
  font-weight: normal;
}
